.Titulo {
  min-height:100%;
  background-color: #cf0b26;
  margin: 0;
  padding: 20px 0 0 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  text-align: center;
  font-family: 'Gill Sans';
  font-size: 37pt;
  font-weight: bold;
}
.App{
  background-color: #9c9597;
  min-height: 100vh;
}
h2{
  text-align: left;
  font-family:Georgia;
  font-size: 32px;
  
}
.Card{
  height: 18rem;
  width: 18rem;
  display: inline-table;
  border-spacing: 10px 5px;
  border-radius: 50%;
  
}

